@import "styles/mixins.scss";

.AddPlaceDialog {
  @include safe-padding();
  @include modal();

  h2 {
    padding-top: 20px;
  }

  .SearchBox {
    display: flex;
    flex-direction: row;
    margin-top: 8px;

    .icon {
      @include safe-padding();
      border: 2px solid #000;
      border-left: 0;
    }

    .spin {
      @include animation('spin 500ms infinite linear');
    }

    input {
      flex-grow: 1;
      border: 2px solid #000;
      border-right: 0;
      padding: 12px 16px;
    }
  }

  .PlaceSearchResults {
    margin-top: 8px;

    li {
      @include grid(6px);
    }

    .PlaceItem {
      display: block;
      width: 100%;
      text-align: left;
      background: #eee;
      border: 0;

      &:hover, &:active {
        background: #000;
      }
    }
  }
}

